<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ammunition0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0001</key>
			<dict>
				<key>frame</key>
				<string>{{27,0},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0002</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0003</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0005</key>
			<dict>
				<key>frame</key>
				<string>{{27,41},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0006</key>
			<dict>
				<key>frame</key>
				<string>{{54,41},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0007</key>
			<dict>
				<key>frame</key>
				<string>{{81,41},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0009</key>
			<dict>
				<key>frame</key>
				<string>{{27,82},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0010</key>
			<dict>
				<key>frame</key>
				<string>{{54,82},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Ammunition0011</key>
			<dict>
				<key>frame</key>
				<string>{{81,82},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,41}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bullets.png</string>
			<key>size</key>
			<string>{110,123}</string>
			<key>textureFileName</key>
			<string>bullets.png</string>
		</dict>
	</dict>
</plist>
