<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>HeliGlider0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0001</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0003</key>
			<dict>
				<key>frame</key>
				<string>{{132,130},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0005</key>
			<dict>
				<key>frame</key>
				<string>{{132,260},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0007</key>
			<dict>
				<key>frame</key>
				<string>{{132,390},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
			<key>HeliGlider0009</key>
			<dict>
				<key>frame</key>
				<string>{{132,520},{132,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>sourceSize</key>
				<string>{132,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>heliglider.png</string>
			<key>size</key>
			<string>{265,650}</string>
			<key>textureFileName</key>
			<string>heliglider.png</string>
		</dict>
	</dict>
</plist>
