<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Player0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0001</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0002</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0003</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0005</key>
			<dict>
				<key>frame</key>
				<string>{{250,150},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0006</key>
			<dict>
				<key>frame</key>
				<string>{{500,150},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0007</key>
			<dict>
				<key>frame</key>
				<string>{{750,150},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0009</key>
			<dict>
				<key>frame</key>
				<string>{{250,300},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0010</key>
			<dict>
				<key>frame</key>
				<string>{{500,300},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0011</key>
			<dict>
				<key>frame</key>
				<string>{{750,300},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0013</key>
			<dict>
				<key>frame</key>
				<string>{{250,450},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0014</key>
			<dict>
				<key>frame</key>
				<string>{{500,450},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0015</key>
			<dict>
				<key>frame</key>
				<string>{{750,450},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0017</key>
			<dict>
				<key>frame</key>
				<string>{{250,600},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0018</key>
			<dict>
				<key>frame</key>
				<string>{{500,600},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0019</key>
			<dict>
				<key>frame</key>
				<string>{{750,600},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0021</key>
			<dict>
				<key>frame</key>
				<string>{{250,750},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0022</key>
			<dict>
				<key>frame</key>
				<string>{{500,750},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0023</key>
			<dict>
				<key>frame</key>
				<string>{{750,750},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0025</key>
			<dict>
				<key>frame</key>
				<string>{{250,900},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0026</key>
			<dict>
				<key>frame</key>
				<string>{{500,900},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0027</key>
			<dict>
				<key>frame</key>
				<string>{{750,900},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0029</key>
			<dict>
				<key>frame</key>
				<string>{{250,1050},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0030</key>
			<dict>
				<key>frame</key>
				<string>{{500,1050},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
			<key>Player0031</key>
			<dict>
				<key>frame</key>
				<string>{{750,1050},{250,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,150}}</string>
				<key>sourceSize</key>
				<string>{250,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>playerShip.png</string>
			<key>size</key>
			<string>{1024,1200}</string>
			<key>textureFileName</key>
			<string>playerShip.png</string>
		</dict>
	</dict>
</plist>
